<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="/blogs">


        <input placeholder="Enter title" name="title"> <br>
        <textarea placeholder="write your post" name = "content"></textarea><br>
        <input placeholder="Author" name="author"> <br>
        <input placeholder="Category" name="category"> <br>
        <button>Submit Post</button>



    </form>





</body>
</html>